/.pnpm-store/
node_modules/
/.cache/
/_src/
/.pytest_cache/
/dist/
**/node_modules/
/.yarn/
/coverage/
__pycache__/
/.vite/
/build/
/.venv/
**/__pycache__/
/reports/
/.parcel-cache/
/tmp/
*.py[cod]
/.mypy_cache/
/artifacts/
/.turbo/
/test-results/
/.next/
/logs/
/out/
/.ruff_cache/
/vendor/
/.nuxt/
/storybook-static/
/release/
/.svelte-kit/
/staging/
/htmlcov/
/.tox/
/webpack-stats/
/esbuild/
/generated/
/.nox/
/site/
/payloads/
/.hypothesis/
/snapshots/
/public/build/
/data/cache/
/data/exports/
/.angular/
/.astro/
/env/
/venv/
/.eggs/
/.stylelint-cache/
/.sass-cache/
/.npm/
/local/
/scratch/
/.eslint-cache/
